.container {
  margin-top: 2em;
  margin-right: 4em;
  margin-left: 4em;
  background-color:#f4f1ec;
  width: auto;

  display: flex;
  flex-direction: column;
  gap: 2em;
  
}

.container > .tweets-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.new-tweet > form > #tweet-text {
  width: 100%;
  background: transparent;
  resize: none;
  border: none;
  outline: none;
  border-bottom: solid;
  text-align:bottom;
}

.new-tweet > form > div {
  font-family: bungee;
  display: flex;
  justify-content: space-between;
}

.new-tweet > form > div > button{
	border: none;
	font: inherit;
	cursor: pointer;
	color: #f4f1ec;
  background-color: #4056A1;
}





.posted-tweet {
  display: flex;
  border: solid;
  padding: 0.5em;
  
}


.posted-tweet > article {
  width: 100%;
}

.posted-tweet > article > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.posted-tweet > article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.posted-tweet > article > header > img {
  max-width: 10%;
}


.posted-tweet > article > header > h4 {
  margin-left: auto;
}


.posted-tweet > article > p {
  display:flex;
}


.posted-tweet > article > footer {
  border-top: solid;
  padding-top: 0.5em;

  display:flex;
  justify-content: space-between;
}

.posted-tweet > article > footer > icons {
  margin-left: auto;
}
